/* Based on "Composition II in Red, Blue, and Yellow," by Piet Mondrian (1930): https://en.wikipedia.org/wiki/Piet_Mondrian */
.wrapper {
  width: 633px;
  height: 458px;
  background: url(mondrian2.png) no-repeat;
  display: grid;
  grid-template-columns: 304px 88px 154px 72px;
  grid-template-rows: 70px 16px 60px 55px 84px 148px;
  grid-gap: 5px;
}
div {
	border: 1px solid black;
  background-color: #f5f5f5;
}
.a {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  background-color: #f00;
}
.b {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: yellow;
}
.c {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}
.d {
  background-color: #f00;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.e {
  grid-column: 2 / 3;
  grid-row: 3 / 6;
}
.f {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
  background-color: #00f;
}
.g {
  grid-row: 2 / 5;
  grid-column: 4 / 5;
}
.h {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}
.i {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  background-color: #00f;
}
.j {
  grid-row: 5 / 7;
  grid-column: 3 / 5;
}










